<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="fr"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="fr"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="fr"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="fr"> <!--<![endif]-->
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{% block title %}Welcome !{% endblock %}</title>


  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  <meta name="description" content="Agence touristique au Sénégale" />

  <!-- Mobile Specifics -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true"/>
  <meta name="MobileOptimized" content="320"/>

  <!-- Mobile Internet Explorer ClearType Technology -->
  <!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

  <!-- Bootstrap -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
  <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('css/additionnal_bootstrap.css') }}" rel="stylesheet">

  <!-- Font Awesome Icon -->
  <link href="{{ asset('css/fontawesome-5.0.12.min.css')}}" rel="stylesheet">

  <!-- Main Style -->
  <link href="{{ asset('css/main.css') }}" rel="stylesheet">

  <!-- Additionnal style -->
  <link href="{{ asset('css/app.css') }}" rel="stylesheet">

  <!-- Supersized -->
  <link href="{{ asset('css/supersized.css') }}" rel="stylesheet">
  <link href="{{ asset('css/supersized.shutter.css') }}" rel="stylesheet">

  <!-- FancyBox -->
  <link href="{{ asset('css/fancybox/jquery.fancybox.css') }}" rel="stylesheet">

  <!-- Font Icons -->
  <link href="{{ asset('css/fonts.css') }}" rel="stylesheet">

  <!-- Shortcodes -->
  <link href="{{ asset('css/shortcodes.css') }}" rel="stylesheet">

  <!-- Responsive -->
  <link href="{{ asset('css/bootstrap-responsive.min.css') }}" rel="stylesheet">
  <link href="{{ asset('css/responsive.css') }}" rel="stylesheet">

  <!-- Supersized -->
  <link href="{{ asset('css/supersized.css') }}" rel="stylesheet">
  <link href="{{ asset('css/supersized.shutter.css') }}" rel="stylesheet">

  <!-- Google Font -->
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>

  <!-- Fav Icon -->
  <link rel="shortcut icon" href="#">

  <link rel="apple-touch-icon" href="#">
  <link rel="apple-touch-icon" sizes="114x114" href="#">
  <link rel="apple-touch-icon" sizes="72x72" href="#">
  <link rel="apple-touch-icon" sizes="144x144" href="#">

  <!-- Modernizr -->
  <script src="{{ asset('js/modernizr.js') }}"></script>

  <!-- Analytics -->
  <!-- <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'Insert Your Code']);
  _gaq.push(['_trackPageview']);

  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script> -->
<!-- End Analytics -->
<!-- <noscript>
<p style="color:white;font-size:25px;">
Ce site nécessite l'activation de JavaScript,
nous vous prions d'activer Javascript pour permettre une meilleure
navigation.
</p>
</noscript> -->
</head>

<body>

  <!-- This section is for Splash Screen -->
  <div class="ole">
    <section id="jSplash">
      <div id="circle"></div>
    </section>
  </div>
  <!-- End of Splash Screen -->

  {% if flashMessage %}
    <div id="flash" class="alert alert-{{ flashMessage.type }} fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <p class="content">{{ flashMessage.content }}</p>
    </div>
  {% endif %}

  {% if slider == true %}
    {% include 'template/slider_top.html.twig' %}
  {% endif %}

  {% include 'template/menu.html.twig' %}
