{% extends 'base.html.twig' %}

{% set slider = true %}

{% block body %}

{% set previousMonth    = {'month': pMm, 'year': pMy} %}
{% set nextMonth        = {'month': nMm, 'year': nMy} %}

<div id="focus" class="page">
    <div class="container">
        <div class="span12 calendar__content">
            <h1>{{ month.toString }}</h1>

            <div class="d-flex justify-content-between">
                <a href="{{ path('indexCalendar', {'month': pMm, 'year': pMy}) }}" class="btn btn-primary previous">&lt;</a>
                <a href="{{ path('indexCalendar', {'month': nMm, 'year': nMy}) }}" class="btn btn-primary next">&gt;</a>
            </div>


            <table class="calendar__table calendar__table--{{ weeks }}weeks">
                {% for i in 0..weeks %}
                <tr>
                    {% for key, day in month.days %}
                        {% set followingDay = key + i * 7 %}
                        {% set date = clone(start).modify("+"~followingDay~" days") %}
                        <td class="{% if month.withinMonths(date) %}{% else %}calendar__othermonth{% endif %}">
                            {% if i == 0 %}
                            <div class="calendar__weekday">{{ day }}</div>
                            {% endif %}
                            <div class="calendar__day">{{ date.format('d') }}</div>
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
jQuery(function($){
    var calendar = {
        init: function() {
            $('td').on('click', function() {
                var $day = $(this).find('.calendar__day').text();
                var $month = $('body').find('h1').text();
                var $calendarContent = $('.calendar__content');

                $calendarContent.removeClass('span12').addClass('span8');
                $calendarContent.parent().append('<div class="span4">');

                console.log(this);
                // console.log($(this).find('h1').text());
                console.log($month);

                return false;
            });
        }
    };

calendar.init();
});
</script>
{% endblock %}
