{% extends 'base.html.twig' %}

{% set slider = true %}

{% block body %}

{# {{ dump(pictures) }} #}


<!-- Our Work Section -->
<div id="work" class="page">
	<div class="container">
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Photos d'excursions</h2>
                </div>
            </div>
        </div>
        <!-- End Title Page -->

        <div class="row">
        <!-- Portfolio Projects -->
        	<div class="span3">
            	<!-- Filter -->
                <nav id="options" class="work-nav">
                    <ul id="filters" class="option-set" data-option-key="filter">
                    	<li class="type-work">Types de photos</li>
                        <li><a href="#filter" data-option-value="*" class="selected">Toutes les photos</a></li>
                        {% for category in categories %}
                            <li><a href="#filter" data-option-value=".{{ category.name }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
                <!-- End Filter -->
            </div>

            <div class="span9">
            	<div class="row">
                	<section id="projects">
                    	<ul id="thumbs">
                            {% for picture in pictures %}
                                <!-- Item Project and filter name -->
                                <li class="item-thumbs span3 {{ picture.category_name }}">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a  class="hover-wrap fancybox"
                                        data-fancybox-group="{{ picture.category_name }}"
                                        title="Laisser un commentaire"
                                        data-id="{{ picture.id }}"
                                        href="{{ asset('uploads/') ~ picture.filename ~ picture.extension  }}">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="{{ asset('uploads/') ~ picture.filename ~ picture.extension }}" alt="{{ picture.description }}">
                                </li>
                                <!-- End Item Project -->
                            {% endfor %}
                        </ul>
                    </section>

            	</div>
            </div>
        </div>
        <!-- End Portfolio Projects -->
    </div>
</div>
<!-- End Our Work Section -->

<!-- About Section -->
<div id="about" class="page-alternate">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">À propos de nous</h2>
                <h3 class="title-description">En savoir plus sur nous et sur nos excursions</h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->

    <!-- People -->
    <div class="row">

        <div class="span3"></div>
        <!-- Start Profile -->
    	<div class="span6 profile">
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Guide</span>
                </div>
                <img src="{{ asset('img/home/aly.png') }}" alt="Aly">
            </div>
            <h3 class="profile-name">Aly</h3>
            <p class="profile-description">
                Je vis et habite à Saly, j'ai donc une connaissance de ma région et de mon pays.
                Je parle le Wolof (ma langue maternelle), le français (pour vous servir) 🙏😃, un peu l'Anglais, l'Italien et l'Espagnol.<br>
                Je suis "ouvert" à toutes discussions, bien entendu dans le respect de chacun.<br>
                Je viens proposer mes services pour les visites que vous souhaiterez effectuer.<br>
                Cela fait plus d'une vingtaine d'années que je vous "Guide" , et j'ai toujours autant de plaisir
                à vous accompagner, vous conter, vous expliquer, et surtout vous faire découvrir "Mon PAYS"
            </p>

            <div class="social">
            	<ul class="social-icons">
                    <li><a href="https://www.facebook.com/aly.niane.315" target="_blank"><i class="font-icon-social-facebook"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->

        <!-- Start Profile -->
    	{#<div class="span6 profile">#}
        	{#<div class="image-wrap">#}
                {#<div class="hover-wrap">#}
                    {#<span class="overlay-img"></span>#}
                    {#<span class="overlay-text-thumb">Creative Director</span>#}
                {#</div>#}
                {#<img src="_include/img/profile/profile-02.jpg" alt="Jane Helf">#}
            {#</div>#}
            {#<h3 class="profile-name">Jane Helf</h3>#}
            {#<p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>.#}
            {#Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>#}

            {#<div class="social">#}
            	{#<ul class="social-icons">#}
                	{#<li><a href="#"><i class="font-icon-social-twitter"></i></a></li>#}
                    {#<li><a href="#"><i class="font-icon-social-email"></i></a></li>#}
                {#</ul>#}
            {#</div>#}
        {#</div>#}
        <!-- End Profile -->

    </div>
    <!-- End People -->
</div>
</div>
<!-- End About Section -->

<div id="excursions" class="page">
    <div class="container">
        <!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">À propos de nos excursions</h2>
                    <h3 class="title-description">En savoir plus sur nos excursions</h3>
                </div>
            </div>
        </div>
        <!-- End Title Page -->
        <div class="row">
            <div class="span12">
                <!-- Start Accordion -->
                <div class="accordion" id="accordionArea">
                    {% for excursion in excursions %}
                    <div class="accordion-group">
                        <div class="accordion-heading accordionize">
                            <a href="#area-{{ loop.index }}" class="accordion-toggle excursion-title" data-toggle="collapse" data-parent="#accordionArea">
                                {{ excursion.title }} <div class="excursion-price">{{ excursion.price }} €</div>
                                <span class="font-icon-arrow-simple-down"></span>
                            </a>
                        </div>
                        <div id="area-{{ loop.index }}" class="accordion-body collapse">
                            <div class="accordion-inner">
                                {{ excursion.description }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                <!-- End Accordion -->
            </div>
        </div>
    </div>
</div>

{% endblock %}
